datafactory/pipeline/01_prepare.json
{
	"name": "01_prepare",
	"properties": {
		"description": "Child Pipeline",
		"activities": [
			{
				"name": "truncate_mig_db",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[trancateMigDb]"
				},
				"linkedServiceName": {
					"referenceName": "ls_db_mig",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get_staging_csv_files",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "truncate_mig_db",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adf].[getTableList]",
						"storedProcedureParameters": {
							"SchemaName": {
								"type": "String",
								"value": "staging"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_db_mig_query",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "copy_staging_csvs_to_input",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_staging_csv_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_staging_csv_files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_csv_staging_to_input",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_storage_mig_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": "cloud-data-mig",
										"directory": "drop",
										"file": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_storage_mig_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": "cloud-data-mig",
										"directory": {
											"value": "@concat('input/',pipeline().parameters.UID,'/',item().TABLE_SCHEMA)",
											"type": "Expression"
										},
										"file": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "get_persist_csv_files",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "truncate_mig_db",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adf].[getTableList]",
						"storedProcedureParameters": {
							"SchemaName": {
								"type": "String",
								"value": "rowmap"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_db_mig_query",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "copy_persist_csvs_to_input",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_persist_csv_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_persist_csv_files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_csv_persist_to_input",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_storage_mig_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": "cloud-data-mig",
										"directory": {
											"value": "@concat('persist/',item().TABLE_SCHEMA)",
											"type": "Expression"
										},
										"file": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_storage_mig_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": "cloud-data-mig",
										"directory": {
											"value": "@concat('input/',pipeline().parameters.UID,'/',item().TABLE_SCHEMA)",
											"type": "Expression"
										},
										"file": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"UID": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-12-24T16:33:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}